<div class="hero-unit">
    <h1>Marionette-Compass-Boilerplate Lite</h1>
    <p>Marionette Boilerplate application to get you off the ground fast.</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        <strong>Mobile</strong>
        {{else}}
        <strong>Desktop</strong>
        {{/if}}.
    </p>
    <br/>
</div>


<table class="table table-bordered">
  <tr>
	<td>1</td>
	<td>2</td>
	<td>3</td>
  </tr>
<tr>
<td>1</td>
	<td>2</td>
	<td>3</td>
</tr>
<tr>
<td>1</td>
	<td>2</td>
	<td>3</td>
</tr>
<tr>
<td>1</td>
	<td>2</td>
	<td>3</td>
</tr>  
</table>
